ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: rgb(49, 48, 48);
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(202, 208, 209);
}

.homecontainer {
  display: flex;
  justify-content: center;
  background-color: rgb(173, 222 , 241);
}

.heading {
  display : flex;
  justify-content: center;
  text-decoration: underline;
   text-decoration-line: underline;
}